<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chardon.faceval.android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacevalAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.recordlist.RecordDetailActivity"
            android:label="@string/update_detail"
            android:theme="@style/Theme.FacevalAndroid"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ui.shutter.ShutterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_take_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FacevalAndroid"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/register"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.scoring.ScoringActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_scoring"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FacevalAndroid"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FacevalAndroid"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme.Splash"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>